<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.infuse.frameswitch</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Frameworks/Python.framework/Versions/3.11/bin/python3</string>
        <string>/Users/sean/Developer/Infuse Frame Switch/infuse_frame_switch.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/sean/Developer/Infuse Frame Switch/infuse_frame_switch.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sean/Developer/Infuse Frame Switch/infuse_frame_switch.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/sean</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/sean/Developer/Infuse Frame Switch</string>
</dict>
</plist> 